<%= render :partial => "header", :locals => {:section_title => (t :Editing_application), :actions => "form_actions"} %>

<% content_for :head do %>
	<%= render :partial => "header/header", :locals => {:element_active => 'resources', :current_layout => "application"} %>
	<%= render :partial => "header/subheader", :locals => {:section_title => 'editing_application', :actions => "applications/form_actions"} %>
<% end %>

<% content_for :content do %>
	<%= form_for(@application, :html => { :class => "application_form" }) do |f_application| %>
		<div id="element_header">
			<%= render :partial => "generic_partials/ownership_group_small" , :locals => {:edition_mode => @edition_mode,:element => @application,:element_type=>"application"} %> 
			<hr />
			<div class="clear"></div>
		</div>
	
		<div id="content_container" class="application_container">
			<input type="hidden" id="edition_mode" value="on">		
				<%= render :partial => "form" , :locals => {:application_form => f_application} %>
				<%= render :partial => "submit", :locals => {:application_form => f_application} %>
		</div>	
	<% end %>
	<span style="display:none" id="is_edition" data-value="true"></span>
		
	<script src="/javascript/applications_form.js"></script>
<% end %>
