<li>
<% if @previous_action == "list" %>
	<%=link_to  "javascript: history.back();", :class => "back_icon has_tooltip" do %>
		 <img src="/images/white_arrow_left.png" title="<%= t('back_to_home') %>"></img>
	<% end %>
<% else %>
	<%=link_to  artworks_path, :class => "back_icon has_tooltip" do %>
		 <img src="/images/white_arrow_left.png" title="<%= t('back_to_home') %>"></img>
	<% end %>
<% end %>
</li>
<% if current_user != nil && ((@artwork.owner == current_user) or (@artwork.owner_type=="Group" && @artwork.owner.users.exists?(current_user)))%>
	<li>
	<%=link_to edit_artwork_path(@artwork), :class => "has_tooltip" do %>
		 <img src="/images/white_edit.png" title="<%= t('edit') %>"></img>
	</li>
	<% end %>
	<li>
	<%=link_to  @artwork, confirm: t('are_you_sure'), method: :delete, :class => "has_tooltip" do %>
		<img src="/images/white_delete.png" title="<%= t('delete') %>"></img>
	<% end %>	
	</li>
<% end %>

<li>
	<%= form_tag search_results_path, :method => 'get' do %>  
    	<%= text_field_tag :search, params[:search], :class => "subnavbar_search" %>&nbsp;&nbsp;<%= submit_tag t('search'),:class => "search_button_subnavbar" %>  
	<% end %>
</li>