<% content_for :meta do %>
	<%= render :partial => "/generic_partials/meta", :locals => {:element => @reutersnewitem}%>
<% end %>

<% content_for :head do %>
	<%= render :partial => "header/header", :locals => {:element_active => 'resources', :current_layout => "application"} %>
	<%= render :partial => "header/subheader", :locals => {:section_title => 'reuters_new_item', :actions => "reuters_new_items/reuters_new_item_actions"} %>
<% end %>

<% content_for :content do %>

	<% if current_user != nil%>
		<%= render :partial => "generic_partials/header_show_resource", :locals => {:element => @reutersnewitem} %>	
	<% end %>

	<div id="content_container" class="artwork_container">
		<%= render "reuters_new_item" %>		
	</div> <!-- CONTENT -->
	
	<span style="display:none" id="is_edition" data-value="false"></span>	
	
	
	<script src="/javascript/artworks_form.js"></script>
<% end %>

