<% content_for :head do %>
	<%= render :partial => "header/header", :locals => {:element_active => 'resources', :current_layout => "application"} %>
	<%= render :partial => "header/subheader", :locals => {:section_title => 'editing_documentary', :actions => "documentaries/form_actions"} %>
<% end %>

<% content_for :content do %>
	<%= form_for(@documentary, :html => { :class => "documentary_form" }) do |f_documentary| %>
		<div id="element_header">
			<%= render :partial => "generic_partials/ownership_group_small" , :locals => {:edition_mode => @edition_mode,:element => @documentary,:element_type=>"documentary"} %> 
			<hr />
			<div class="clear"></div>
		</div>
		<div id="content_container" class="documentary_container">
			<input type="hidden" id="edition_mode" value="on">
				<%= render :partial => "form" , :locals => {:documentary_form => f_documentary} %>
				<%= render :partial => "submit", :locals => {:documentary_form => f_documentary} %>			
		</div>			
		<span style="display:none" id="is_edition" data-value="true"></span>	
		
		<script src="/javascript/documentaries_form.js"></script>
	<% end %>
<% end %>
