<!------------ Left column ------------------>
<div id="content_container" class="book_container">
<div class="left_column">
	<div class="book_name field_body">
		Name:
		<%= text_field_tag(:user_name, "") %>
		<br>
		<br>
		Surname:
		<%= text_field_tag(:user_name, "") %>
		<br>
		<br>
		Sex:
		<%= text_field_tag(:user_name, "") %>
		<br>
		<br>
		Name:
		<%= text_field_tag(:user_name, "") %>
		<br>
		<br>
		Name:
		<%= text_field_tag(:user_name, "") %>
		<br>
		<br>
		Name:
		<%= text_field_tag(:user_name, "") %>
		<br>
		<br>
		<%= submit_tag "Send" %>
	</div>
	
	
</div>
</div>











