<%= render :partial => "header", :locals => {:section_title => (t :new_event), :actions => "form_actions"} %>

<% content_for :head do %>
	<%= render :partial => "header/header", :locals => {:element_active => 'resources', :current_layout => "application"} %>
	<%= render :partial => "header/subheader", :locals => {:section_title => 'new_event', :actions => "events/form_actions"} %>
<% end %>

<% content_for :content do %>
	<%= form_for(@event, :html => { :class => "event_form" }) do |f_event| %>
		<div id="element_header">
			<%= render :partial => "generic_partials/ownership_group_small" , :locals => {:edition_mode => @edition_mode,:element => @event,:element_type=>"event"} %> 
			<hr />
			<div class="clear"></div>
		</div>
				
		<div id="content_container" class="event_container">
			<input type="hidden" id="edition_mode" value="on">			
			<%= render :partial => "form" , :locals => {:event_form => f_event} %>
			<%= render :partial => "submit", :locals => {:event_form => f_event} %>						
		</div>	
		
		<span style="display:none" id="is_edition" data-value="true"></span>	
	<% end %>
	<script src="/javascript/events_form.js"></script>
<% end %>
