<div id="nav_bar">
	<ul>
		<li><%= link_to t("resources"), resources_path %></li>
		<li><%= link_to t("activities"), activities_path %></li>
		<!--<li><%= link_to t("sequences"), activity_sequences_path %></li>-->
		<li><%= link_to t("guides"), guides_path %></li>
		<li><%= link_to t("experiences"), experiences_path %></li>
		<li><%= link_to t("boards") %></li>
	</ul>
</div>
	</div>
	<div id="section_header">
		<div id="actions" class="a-left">
			<%= render actions %>
		</div>
		<div id="section_title" class="a-right">
			<p><%= section_title %></p>
		</div>	
	</div>
</header><!-- HEADER -->