<% if @document.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>
	
	  <ul>
	  <% @document.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	  </ul>
	</div>
<% end %>




<!------------ Left column ------------------>
<div class="left_column">
	<div class="book_name field_body">
		<% if @edition_mode==true %>
			<textarea id="document_name" name="document[name]" placeholder="<%= t("title") %>"><%= @document.name %></textarea>
			<i class="icon-pencil icon-grey"></i>
		<% else %>
			<span><%= @document.name %></span>
		<% end %>
	</div>
	
		
	<div class="book_description description field_body">
		<% if @edition_mode==true %>
			<textarea id="document_description" name="document[description]" placeholder="<%= t("description") %>"><%= @document.description %></textarea>
			<i class="icon-pencil icon-grey"></i>
		<% else %>
			<div>
				<% if @document.description != nil %>			
					<%= raw @document.description.truncate(1000, :separator => " ", :omission => "...") %>
				<% end %>					
			</div>
		<% end %>
	</div>
	
			<div class="book_tags element_field_box">
				<div class="field_prompt"><%= "Keywords" %></div>
				<div class="documents_tags_field_body">			
					<% if @edition_mode==true %>    
				    	<textarea id="document_tags" class="tags" name="document[tag_list]"><% if @document!=nil %><%= @document.document_tag_list %><% end %></textarea>
				    	<i class="icon-pencil icon-grey"></i>
				    <% else %>
				    	<span class="tags"><% if @document!=nil %><%= @document.document_keywords %><% end %></span>	
				    <% end %>														
				</div>
			</div>	
	
	
	<hr>
	
	

	
	
		
	
<!--	
	<div class="book_tags element_field_box">
		<div class="field_prompt"><%= "Keywords" %></div>
		<div class="documents_tags_field_body">			
			<% if @edition_mode==true %>    
		    	<textarea id="document_tags" class="tags" name="document[tag_list]"><% if @document!=nil %><%= @document.document_tag_list %><% end %></textarea>
		    	<i class="icon-pencil icon-grey"></i>
		    <% else %>
		    	<span class="tags"><% if @document!=nil %><%= @document.document_tag_list_with_links.html_safe %><% end %></span>	
		    <% end %>														
		</div>
	</div>			
-->	

	<% if @document.url.include? "merlot"
      from_repository = "MERLOT"
   elsif @document.url.include? "oercommons"
	  from_repository = "OERCommons"
   elsif @document.url.include? "cnx"
	  from_repository = "Open Stax CNX" 
   end %>	 

	<div class="book_tags element_field_box">
		<div class="field_prompt"><%= "From repository" %></div>
		<div class="field_body">			
		<% if @edition_mode==true %>
			<textarea id="document_name" name="document[name]" placeholder="<%= t("Classified in Category") %>"><%= @document.classified_in_category %></textarea>
			<i class="icon-pencil icon-grey"></i>
		<% else 
		    repository = params[:repository] %>	 	
			<span><%= from_repository %></span>
		<% end %>
		</div>
	</div>	
	 
	
	<% if params[:user_id] == nil %>
	
	<div class="book_tags element_field_box">
		<div class="field_prompt"><%= "Originally classified as" %></div>
		<div class="field_body">			
		<% if @edition_mode==true %>
			<textarea id="document_name" name="document[name]" placeholder="<%= t("Classified in Category") %>"><%= @document.classified_in_category %></textarea>
			<i class="icon-pencil icon-grey"></i>
		<% else 
		    original_categories = @document.original_category.split(",")
		    original_categories = original_categories.collect{|x| x.strip}
		    original_categories = original_categories.sort 
		    %>    
		    <% for i in 0..original_categories.size-1 %> 	
				<span><%= from_repository.to_s + " > " + original_categories[i].to_s %></span>
				<br>
			<% end %>
		<% end %>
		</div>
	</div>		
	<% end %>
	
	
	<% if params[:user_id] == nil%>
	
	<div class="book_tags element_field_box">
		<div class="field_body">
			<div class="classification">	
				<div class="classification_field_prompt"><%= "CROERA classified it as" %></div>		
				<% if @edition_mode==true %>
					<textarea id="document_name" name="document[name]" placeholder="<%= t("Classified in Category") %>"><%= @document.classified_in_category %></textarea>
					<i class="icon-pencil icon-grey"></i>
				<% else 
				      if params[:repository] == "oercommons"
						 classified_in_category =  @document.classified_in_category_oercommons
				      elsif params[:repository] == "merlot"
				         classified_in_category =  @document.classified_in_category_merlot
				      elsif params[:repository] == "cnx"
				         classified_in_category =  @document.classified_in_category_cnx   
				      elsif params[:repository] == "wikipedia"
				         classified_in_category =  @document.classified_in_category_wikipedia
				      end   %>
				      
				      <% classified_in_category = @document.classified_in_category_oercommons
				      	 classified_in_category = classified_in_category.split(",")
				         classified_in_category = classified_in_category.sort  %>
				      	 <% for i in 0..classified_in_category.size-1 %> 	
							<span><%= "OERCommons" + " > " + classified_in_category[i].to_s %></span>
							<br>
						<% end %>	
						
				      <% classified_in_category = @document.classified_in_category_merlot
				      	 classified_in_category = classified_in_category.split(",")
				         classified_in_category = classified_in_category.sort  %>
				      	 <% for i in 0..classified_in_category.size-1 %> 	
							<span><%= "MERLOT" + " > " + classified_in_category[i].to_s %></span>
							<br>
						<% end %>	
						
						<% classified_in_category = @document.classified_in_category_cnx
				      	 classified_in_category = classified_in_category.split(",")
				         classified_in_category = classified_in_category.sort  %>
				      	 <% for i in 0..classified_in_category.size-1 %> 	
							<span><%= "Open Stax CNX" + " > " + classified_in_category[i].to_s %></span>
							<br>
						<% end %>	
						
					<% classified_in_category_size = classified_in_category.split(",").size %>
				<% end %>
				<br>
				
				<% if false %>				
					<div class = "classification_correct2">
				    <% if @document.url.include? "oercommons" 
				    	  corpus_resource = "oercommons"
			    	   elsif @document.url.include? "merlot"
			    		  corpus_resource = "merlot"
					   elsif @document.url.include? "cnx"
			    		  corpus_resource = "cnx"    	  
				       end %>						
						<%= hidden_field_tag :corpus_taxonomy, params[:repository] %>
						<%= hidden_field_tag :corpus_resource, corpus_resource %>
						<% if params[:user_id] == nil
						   url = "/documents?page=" + params[:page] + "&repository=" + params[:repository] + "&section=" + params[:section]
						else 
						   url = "/documents?page=" + params[:page] + "&repository=" + params[:repository] + "&section=" + params[:section] + "&user_id=" + params[:user_id]
						end
						puts url
						   url = URI.encode(url) %> 
						<%= hidden_field_tag :url, url %>					
						<%= submit_tag "Send Evaluation" %>
					</div>
				<% end %>									
			</div>
			<% if false %>
				<div class="evaluation">	
					<div class="evaluation_field_prompt"><%= t("is_the_classification_correct") %></div>	      
			         <% classified_in_category = @document.classified_in_category_oercommons
			      	 classified_in_category = classified_in_category.split(",")
			         classified_in_category = classified_in_category.sort  %>
			      	 <% for i in 0..classified_in_category.size-1 %> 	
						<input type="radio" name=<%="oercommons_evaluation" + i.to_s%> value= <%="Yes---" + classified_in_category[i].gsub(" ","_")%>> Yes
						<input type="radio" name=<%="oercommons_evaluation" + i.to_s%> value= <%="No---" + classified_in_category[i].gsub(" ","_")%>> No
						<input type="radio" name=<%="oercommons_evaluation" + i.to_s%> value= <%="N/A---" + classified_in_category[i].gsub(" ","_")%>> N/A						
						<br>
					<% end %>	
					
			         <% classified_in_category = @document.classified_in_category_merlot
			      	 classified_in_category = classified_in_category.split(",")
			         classified_in_category = classified_in_category.sort  %>
			      	 <% for i in 0..classified_in_category.size-1 %> 	
						<input type="radio" name=<%="merlot_evaluation" + i.to_s%> value= <%="Yes---" + classified_in_category[i].gsub(" ","_")%>> Yes
						<input type="radio" name=<%="merlot_evaluation" + i.to_s%> value= <%="No---" + classified_in_category[i].gsub(" ","_")%>> No
						<input type="radio" name=<%="merlot_evaluation" + i.to_s%> value= <%="N/A---" + classified_in_category[i].gsub(" ","_")%>> N/A			
						<br>
					 <% end %>	
					
					 <% classified_in_category = @document.classified_in_category_cnx
			      	 classified_in_category = classified_in_category.split(",")
			         classified_in_category = classified_in_category.sort  %>
			      	 <% for i in 0..classified_in_category.size-1 %> 	
						<input type="radio" name=<%="cnx_evaluation" + i.to_s%> value= <%="Yes---" + classified_in_category[i].gsub(" ","_")%>> Yes
						<input type="radio" name=<%="cnx_evaluation" + i.to_s%> value= <%="No---" + classified_in_category[i].gsub(" ","_")%>> No
						<input type="radio" name=<%="cnx_evaluation" + i.to_s%> value= <%="N/A---" + classified_in_category[i].gsub(" ","_")%>> N/A		
						<br>
					 <% end %>
				</div>
			<% end %>
		</div>		
	</div>	
	<% end %>

<% if params[:user_id] != nil %>

	<div class="book_tags element_field_box">
		<div class="categories_selection">
			<div class="classification_title_field_prompt"> Please, select the most suitable categories for each repository: </div>
			<br>
			<div class="oercommons">	
				<div class="classification_field_prompt"><%= "OERCommons" %></div>		
				<% oercommons_categories = "Arts, Education, Business, Humanities, Mathematics and Statistics, Physics, Geoscience, Computing and Information, Ecology, Engineering, Science and Technology, Forestry and Agriculture, Space Science, Mathematics, Life Science, Politics, Law, Technology, Social Sciences, Chemistry, History"
				oercommons_categories_array = oercommons_categories.split(",")
				oercommons_categories_array = oercommons_categories_array.collect{|x| x.strip}
				oercommons_categories_array = oercommons_categories_array.sort
				for i in 0..oercommons_categories_array.size - 1 %>
				 	<input name=<%="evaluation_oercommons" + i.to_s%> type="checkbox" value=<%=oercommons_categories_array[i].strip.gsub(" ","_")%> /> <%= oercommons_categories_array[i] %>
					<br>
				<% end %>
			</div>
			<div class="merlot">	
				<div class="evaluation_field_prompt"><%= "MERLOT" %></div>	      
				<% merlot_categories = "Academic Support Services, Arts, Business, Education, Humanities, Mathematics and Statistics, Science and Technology, Social Sciences, Workforce Development"
				merlot_categories_array = merlot_categories.split(",")
				merlot_categories_array = merlot_categories_array.collect{|x| x.strip}
				merlot_categories_array = merlot_categories_array.sort
				for i in 0..merlot_categories_array.size - 1 %>
					<input  name=<%="evaluation_merlot" + i.to_s%> type="checkbox" value=<%=merlot_categories_array[i].strip.gsub(" ","_")%> /> <%= merlot_categories_array[i] %>
					<br>
				<% end %>				
			</div>
			<div class="cnx">	
				<div class="evaluation_field_prompt"><%= "Open Stax CNX" %></div>	            
				<% cnx_categories = "Arts, Business, Humanities, Mathematics and Statistics, Science and Technology, Social Sciences"
				cnx_categories_array = cnx_categories.split(",")
				cnx_categories_array = cnx_categories_array.collect{|x| x.strip}
				cnx_categories_array = cnx_categories_array.sort
				for i in 0..cnx_categories_array.size - 1 %>
					<input name=<%="evaluation_cnx" + i.to_s%> type="checkbox" value=<%=cnx_categories_array[i].strip.gsub(" ","_")%> /> <%= cnx_categories_array[i] %>
					<br>
				<% end %>				
			</div>			
		</div>		
	</div>		
	<div class="clear"></div>
	<br>
	<div class = "classification_correct2">
	    <% if @document.url.include? "oercommons" 
	    	  corpus_resource = "oercommons"
    	   elsif @document.url.include? "merlot"
    		  corpus_resource = "merlot"
		   elsif @document.url.include? "cnx"
    		  corpus_resource = "cnx"    	  
	       end %>		
		<%= hidden_field_tag :corpus_taxonomy, params[:repository] %>
		<%= hidden_field_tag :corpus_resource, corpus_resource %>
		<% if params[:user_id] == nil
		   url = "/documents?page=" + params[:page] + "&repository=" + params[:repository] + "&section=" + params[:section]
		else 
		   url = "/documents?page=" + params[:page] + "&repository=" + params[:repository] + "&section=" + params[:section] + "&user_id=" + params[:user_id]
		end
		puts url
		   url = URI.encode(url) %> 
		<%= hidden_field_tag :url, url %>					
		<%= submit_tag "Send Evaluation" %>
	</div>	
	<% end %>
	

	<div class="book_url element_field_box">
		<br>
		<div class="field_prompt"><%= t("url") %></div>
		<div class="field_body">
			<% if @edition_mode==true %>    
		    	<%= book_form.text_field :url %>
		    	<i class="icon-pencil icon-grey"></i>			    	
		    <% else %>
		    	<a href="<%= @document.url %>" target="_blank"><%= @document.url %></a>
		    <% end %>
	   </div>		
	</div>
	
<% if false %>	
	
<% if params[:user_id] != nil %>
	
	<hr size="4px" color="black" />
	
	<div class="book_url element_field_box">
		(<b>Categories available are:</b>
		<i>
		<%= if params[:repository] == "oercommons"
				@categories_available = "Arts, Education, Business, Humanities, Mathematics and Statistics, Physics, Geoscience, Computing and Information, Ecology, Engineering, Science and Technology, Forestry and Agriculture, Space Science, Mathematics, Life Science, Politics, Law, Technology, Social Sciences, Chemistry, History"
			elsif params[:repository] == "merlot"
				@categories_available = "Academic Support Services, Arts, Business, Education, Humanities, Mathematics and Statistics, Science and Technology, Social Sciences, Workforce Development"
			elsif params[:repository] == "cnx"
				@categories_available = "Arts, Business, Humanities, Mathematics and Statistics, Science and Technology, Social Sciences"	
			end %>
		)</i>
		<hr>
		<br>
		<br>
		<div class = "classification_correct">
			<%= form_tag do %>
				<% for i in 0..classified_in_category_size - 1 do %>
				<div class="field_prompt"><%= t("classification_correct") %><br><mark><i> "<%= classified_in_category.split(",")[i] %>"</i></mark>?</div>
				<div class = "classification_correct2">
					<input type="radio" name=<%="evaluation" + i.to_s%> value=<%="Yes---" + classified_in_category.split(",")[i].gsub(" ","_")%>> Yes
				</div>
				<div class = "classification_correct3">
					<input type="radio" name=<%="evaluation" + i.to_s%> value=<%="No---" + classified_in_category.split(",")[i].gsub(" ","_")%>> No
				</div>				
				<div class = "classification_correct3">
					<input type="radio" name=<%="evaluation" + i.to_s%> value=<%="N/A---" + classified_in_category.split(",")[i].gsub(" ","_")%>> N/A
				</div>
				<br>
				<hr>
				<% end %>
				<div class="clear"></div>
				<div class = "classification_correct2">
					<%= hidden_field_tag :corpus_taxonomy, params[:repository] %>
					<%= hidden_field_tag :corpus_resource, corpus_resource %>
					<% if params[:user_id] == nil
					   url = "/documents?page=" + params[:page] + "&repository=" + params[:repository] + "&section=" + params[:section]
					else 
					   url = "/documents?page=" + params[:page] + "&repository=" + params[:repository] + "&section=" + params[:section] + "&user_id=" + params[:user_id]
					end
					puts url
					   url = URI.encode(url) %> 
					<%= hidden_field_tag :url, url %>					
					<%= submit_tag "Send Evaluation" %>
				</div>
			<% end %>					
		</div>	
	</div>		
	<% end %>
<% end %>
</div>



<!------------- Right column ---------------->
<div class="right_column">
	<% if @edition_mode == false && @popup == nil %>	
		<div class="watermark_container_show">
			<div class="watermark_show <%=@resource_type.downcase%>_watermark"></div>
		</div>
	<% end %>
	<div class="element_image_box picture_container">
		<% if @edition_mode==true %>	
			<span class="change_element_image has_edition_controls active" onclick= "select_element_image_new(this);"><%= t('change_image') %></span>		
			<% if @document.image_url != "" and @document.image_url != nil  %>
				<%= image_tag @document.image_url, width:'100%', :class => "image_preview" %>
			<% else %>
				<%= image_tag "/images/watermarks/b_watermark_document.png", width:'100%', :class => "image_preview" %>
			<% end %>
			<div class= "file_upload">
				<%= document_form.file_field :element_image, :onchange => "image_preview_new(this, event);", :class =>"input_element_image" %>
			</div>
		<% else %>
			<% if @document.image_url != "" and @document.image_url != nil  %>
				<%= image_tag @document.image_url, width:'100%', :class => "image_preview_show" %>
			<% else %>
				<%= image_tag "/images/no_photo.png", width:'100%', :class => "image_preview_show" %>
			<% end %>
		<% end %>
	</div>

</div>





<% if @edition_mode==true %>
	<div id="snippets_library" style="display: none">
		<div class="subject_item">				
			<%= select_tag "subject", options_from_collection_for_select(@subjects, "id", "name"), :prompt => "", :class => "subject" %>
			<span class="delete_subject"  onClick="delete_subject(this);">X</span>
		</div>
	</div>
<% end %>


