<% content_for :head do %>
	<%= render :partial => "header/header", :locals => {:element_active => 'resources', :current_layout => "application"} %>
	<%= render :partial => "header/subheader", :locals => {:section_title => 'new_klascement', :actions => "klascements/form_actions"} %>
<% end %>

<% content_for :content do %>
	<%= form_for(@klascement, :html => { :class => "klascement_form" }) do |f_klascement| %>
		<div id="element_header">
			<%= render :partial => "generic_partials/ownership_group_small" , :locals => {:edition_mode => @edition_mode,:element => @klascement,:element_type=>"klascement"} %> 
			<hr />
			<div class="clear"></div>
		</div>
		<div id="content_container" class="klascement_container">
			<input type="hidden" id="edition_mode" value="on">
				<%= render :partial => "form" , :locals => {:klascement_form => f_klascement} %>
				<%= render :partial => "submit", :locals => {:klascement_form => f_klascement} %>
		</div>	
		
		<span style="display:none" id="is_edition" data-value="true"></span>	
		
		<script src="/javascript/klascements_form.js"></script>
	<% end%>
<% end %>
