<div class= "my_activities_filter disabled" onclick="all_users_popup_filter(this);"><%= t("guides") %></div>
<div class= "my_activities_filter" onclick="current_user_popup_filter(this);"><%= t("My_guides") %></div>
<div class="current_user_input_copy_container">
	<%= hidden_field_tag :user_id, current_user.id , :class => 'current_user_id' %>
</div>

<%= form_tag({:action => 'paginate_elements', :controller => 'selectors', :element_class => 'guides', :refresh_popup => 'true'}, :class => "search_form", :method => :get, remote: true) do %>
	<%= text_field_tag :search, params[:search], placeholder: t('Enter_search_term') %>
	<div class="search_button" onclick='$("#guides .search_form").submit()'></div>
	<div class="current_user_input_container"></div>
<% end %>