<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= @page_title or 'SDE' %></title>
		<%= javascript_include_tag "application"%>
	
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Actividades e Recursos Educativos Abertos">
		<meta name="author" content="University of Vigo. GIST">
		<link rel="icon" href="/images/icons/favicon.ico" />
		
		<!-- Estilos -->
		<%= stylesheet_link_tag "devise" %> 
		<link rel="stylesheet" href="/css/header.css" />
		<link rel="stylesheet" href="/css/style1.css" />
		<link rel="stylesheet" href="/css/skin3.css" />
		<link rel="stylesheet" href="/css/circumstance.css" />
		<script src="/javascript/user_profile.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="/javascript/map_control.js"></script>
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		
	  
	</head>
	<body>
		<%= yield %>
		<div class="devise_alerts">
			<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
			<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
			<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
		</div>
		
		<%= render :partial => "footer/footer" %>
		
		<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-48591469-1']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();	
		</script>
		
	</body>
</html>
